{% extends 'base.html' %}

{% block content %}
    <h2>Hola {{ username }}</h2>
    <p>
      El mensaje se encuentra dentro de un archivo .html
    </p>

    {% if is_premium %}
      <p>
        Eres usuario premium
      </p>
    {% endif %}

    {% if courses %}
    <p>Listado de cursos: </p>
    <ul>
      {% for course in courses %}
        <li>{{ course }}</li>
      {% endfor %}
    </ul>

    {% endif %}
    <img src="{{ url_for('static',filename='images/emir-saldierna-oHWCOXSYdsg-unsplash.jpg') }}" alt="">

{% endblock %}
